
  <!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RID</title>
    <link rel="stylesheet" href="static/css/estilosDomina.css">
</head>

<body>
    <header>
        <h1>!Bienvenido¡</h1>
    </header>
    <nav>
        <a href="#">Ingresar</a>
        <a href="#">Registrarse</a>
    </nav>

    <section>
        <img src="/static/img/incapacidades-dom.JPG">
        <aside>
            <p>Ir a la página de Domina</p>
            <h2>
                <a href="https://www.domina.com.co">Domina Entrega Total</a>
            </h2>
        </aside>

    </section>


    <footer>



    </footer>

</body>

</html>
