{% extends 'layout.html' %}
{% block content %}
<div id="main" class="container-fluid d-flex">

    <div class="content">

        <div id="inputTweetArea" class="tweet-wrap">
            <div class="d-flex">
                <div class="col-xs">

                </div>

                <!-- Formulario -->
                <form class="col pr-0">
                    <input class="form-control w-100" placeholder="usuario"> </input>
                    <input class="form-control w-100" placeholder="contrasena"> </input>
                    <div class="container d-flex" style="padding: 1rem 0 0 0;">
                        <div id="leftBtn">

                                <button class="btn rounded-pill" style="width: 100%;">Ingresar</button>

                        </div>

                        <div id="rightBtn">
                            <button class="btn rounded-pill" style="width: 100%;">Registrarse</button>
                        </div>
                    </div>
                </form>
                <!-- Formulario -->

            </div>
            <div class="d-flex justify-content-center mt-2">
            </div>
        </div>

{% endblock content %}